#main-container {
    padding-top: 130px;
    min-height: calc(100vh - 70px);
}
  

.main-section {
    float: left;
    width: 100%;
    max-width: 960px;
    padding: 30px;
    margin: 0 0 40px;
    background: #ffffff;
    border: 1px solid #dddddd;
}
  

.portimgs {
    position: relative;
    float: left;
    width: 274px;
    margin: 20px 0 25px;
    overflow: auto;
  }
  
  .portimgs:nth-child(even) {
    margin-right: 40px;
  }
  
  .portimgs img {
    width: 100%;
    border: 0 none;
    opacity: 0.8;
  }
  
  .portimgs h3 {
    position: absolute;
    bottom: 20px;
    width: 100%;
    padding: 15px;
    margin-bottom: 0;
    font-weight: 500;
    line-height: 30px;
    color: #ffffff;
    text-align: center;
    background: #4aaaa5;
    border-bottom: 0;
    font-family: Georgia, Times, "Times New Roman", serif;
  }
  